*
!*/
!.gitignore
!README.md
!app/etc/modules/GPMD_Static.xml
!app/design/frontend/gpmd/*
!app/design/frontend/gpmd/*/*
!app/design/frontend/gpmd/*/*/*
!app/design/frontend/gpmd/*/*/*/*
!app/design/frontend/gpmd/*/*/*/*/*
!app/design/frontend/gpmd/*/*/*/*/*/*
!skin/frontend/gpmd/*
!skin/frontend/gpmd/*/*
!skin/frontend/gpmd/*/*/*
!skin/frontend/gpmd/*/*/*/*
!skin/frontend/gpmd/*/*/*/*/*
!skin/frontend/gpmd/*/*/*/*/*/*
!app/code/local/GPMD/*
!app/code/local/GPMD/*/*
!app/code/local/GPMD/*/*/*
!app/code/local/GPMD/*/*/*/*
