*
!*/
!.gitignore
!modman
!README.md
!var/connect/GPMD_Responsive_Theme-0.1.3.tgz
!app/code/local/GPMD/*
!app/code/local/GPMD/*/*
!app/code/local/GPMD/*/*/*
!app/code/local/GPMD/*/*/*/*
!app/design/frontend/gpmd/*
!app/design/frontend/gpmd/*/*
!app/design/frontend/gpmd/*/*/*
!app/design/frontend/gpmd/*/*/*/*
!app/design/frontend/gpmd/*/*/*/*/*
!app/design/frontend/gpmd/*/*/*/*/*/*
!app/etc/modules/GPMD_Static.xml
!skin/frontend/gpmd/*
!skin/frontend/gpmd/*/*
!skin/frontend/gpmd/*/*/*
!skin/frontend/gpmd/*/*/*/*
!skin/frontend/gpmd/*/*/*/*/*
!skin/frontend/gpmd/*/*/*/*/*/*
