article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,dialog{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;visibility:hidden;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,hr,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td,menu,img,figure,figcaption{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
html{height:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{font-size:100%;margin:0;min-height:100%;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
tr,th,td{padding:0;}
form{margin:0;}
fieldset{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
label{display:block;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{line-height:normal !important;vertical-align:baseline;*vertical-align:middle;}
button,input{*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;cursor:hand;-webkit-appearance:button;}
input[type="text"],input[type="password"],input[type="email"],textarea{margin:0;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
table button,table input{*overflow:auto;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
blockquote,q,cite{font-style:italic;}
blockquote{padding-left:1.625em;padding-left:1.625rem;border-left:1px solid #ddd;}
blockquote>p{padding:0;}
ul,ol{list-style-position:inside;padding:0;}
li ul,li ol{margin:0 1.625em;margin:0 1.625rem;}
dl dd{margin-left:1.625em;margin-left:1.625rem;}
a,a:visited{text-decoration:none;color:#0066cc;}
a:hover{color:#003399;border-bottom:none;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:none;}
a:link{-webkit-tap-highlight-color:rgba(0, 102, 204, 0.15);}
::selection{background:#ff0035;color:#ffffff;text-shadow:none;}
::-moz-selection{background:#ff0035;color:#ffffff;text-shadow:none;}
figure{margin:0;}
img,embed,object,video{max-width:100%;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
mark{background:#ff0;}
ins{text-decoration:none;background:#ff9;}
del{text-decoration:line-through;}
hr{display:block;height:1px;border:0;border-bottom:1px solid #ddd;}
strong,b,dt{font-weight:bold;}
em,i,dfn{font-style:italic;}
var,address{font-style:normal;}
sub,sup{font-size:0.625em;font-size:0.625rem;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;top:-0.5rem;}
sub{bottom:-0.25em;bottom:-0.25rem;}
.group:before,.group:after{content:"";display:table;}
.group:after{clear:both;}
.group{*zoom:1;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
