.font-awesome{font-family:FontAwesome;font-weight:normal;font-style:normal;}
.accessible-hide{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
.hidden{display:none !important;visibility:hidden;}
.inline-block{display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;}
body,button,input,select,textarea{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:16px;font-size:1rem;line-height:18px;line-height:1rem;color:#000000;}
.sans-serif{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
.serif{font-family:Cambria,Georgia,Times,"Times New Roman",serif;}
.monospace{font-family:"Courier New",Courier,monospace;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:36px;font-size:2.25rem;line-height:42px;line-height:2.3333333333333335rem;margin:0 0 0.5625em;}
h2{font-size:30px;font-size:1.875rem;line-height:36px;line-height:2rem;margin:0 0 0.6428571428571429em;}
h3{font-size:24px;font-size:1.5rem;line-height:30px;line-height:1.6666666666666667rem;margin:0 0 0.75em;}
h4{font-size:18px;font-size:1.125rem;line-height:24px;line-height:1.3333333333333333rem;margin:0 0 0.9em;}
h5{font-size:16px;font-size:1rem;line-height:20px;line-height:1.1111111111111112rem;margin:0 0 1.125em;}
h6{font-size:14px;font-size:0.875rem;line-height:18px;line-height:1rem;margin:0 0 1.125em;}
small{font-size:14px;font-size:0.875rem;margin:0 0 1.125em;}
p,ul,ol{font-size:16px;font-size:1rem;line-height:18px;line-height:1rem;margin:0 0 1.125em;}
.std{line-height:24px;line-height:1.3333333333333333rem;}
pre,code,kbd,samp{font-family:"Courier New",Courier,monospace;font-size:16px;font-size:1rem;line-height:18px;line-height:1rem;}
form,button,input,select,textarea,label{font-size:16px;font-size:1rem;line-height:18px;line-height:1rem;}
dl dd{margin:0 0 1.125em;}
dt{margin-bottom:0.5625em;}
a,a:visited{color:#0066cc;}
a:hover{color:#004c99;}
::selection{background:#ff0099;color:#ffffff;}
::-moz-selection{background:#ff0099;color:#ffffff;}
